h1 {
    font-family:'Shadows Into Light', cursive;
    font-size: 5em;
}

p {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    color: white;
}

h4 {
    font-family:'Shadows Into Light', cursive;
    font-size: 2em;
    color: black;    
}

hr {
    border-bottom: 1px solid black;
}

.error {
    display: none;
}

.search {
    position: absolute;
    padding: 20px;
    width: max;
}

.search-content {
    display: none;
}

#link-box {
    display: none;
}

.video {
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    padding: 20px;
    background-color: white;
    display: none;
    margin: 15px;
    width: 100%;
}

.msg-box {
    border: 2px solid black;
    border-radius: 25px;
    padding: 20px;
    background-color: white;
    margin: 15px;
    width: 100%;
    display: none;
}

#msg {
    width: 100%;
}



.iconcolor {
    color: blue;
}

.identity {
    display: none;
}

.up {
    float: left;
}

.down {
    float: right;
}

a {
    color: gray;
}

a:hover {
    color: black;

}